body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.links {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 70vh;
}

ul li {
    list-style: none;
    margin-left: -37px;
}

a {
    display: block;
    text-decoration: none;
    width: 250px;
    color: white;
    background: #3b82f6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s;
}

a:hover {
    background: #2563eb;
}

#modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: start;
    text-align: justify;
    z-index: 1000;
    padding-top: 100px;
}

#modal>div {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    word-spacing: 2px;
    margin: 20px;
    width: 90%;
    border-radius: 8px;
}

#modal-close {
    float: right;
    cursor: pointer;
    font-size: 35px;
    color: red;
}

#results li {
    cursor: pointer;
    padding: 6px 10px;
    border-bottom: 1px solid #e5e7eb;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    word-spacing: 2px;
}

#results li:hover {
    background: #f1f5f9;
}

#search-box {
    position: sticky;
    top: 20px;
}

#search-box input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    background: #f1f5f9;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#results ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.speaker-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: background-color 0.2s, transform 0.2s;
}

.speaker-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.speaker-wrapper {
    display: flex;
    gap: 5px;
}

.word-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:350px) {
    a {
        width: 70%;
        margin: 5px auto;
    }

    .speaker-btn {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}