body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #1f2933;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 16px;
    word-spacing: 2px;
}

h2 {
    margin: 30px 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    font-weight: 700;
}

a:hover {
    color: #1272d1;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: white;
}

th,
td {
    border: 1px solid #e5e7eb;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

th:first-child,
td:first-child {
    width: 35px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 250px;
}

th:nth-child(3),
td:nth-child(3),
th:last-child,
td:last-child {
    width: calc((100% - (30px + 250px)) / 2);
}

th {
    background: #eef2ff;
}

tr {
    transition: all 0.2s;
}

tr:hover {
    background: #f1f5f9;
}

#groups ol {
    list-style: decimal inside;
    padding-left: 0;
}

#groups li a {
    display: block;
    margin: 5px 0;
}

.speaker-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: background-color 0.2s, transform 0.2s;
}

.speaker-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.speaker-wrapper {
    display: flex;
    gap: 5px;
}

.word-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    body {
        text-align: justify;
        font-size: 40px;
        padding: 50px;
        line-height: 60px;
        background: white;
    }

    h2 {
        margin: 60px 0;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:last-child,
    td:last-child {
        width: 350px;
    }

    #groups a {
        display: block;
        margin: 5px 0;
    }

    .speaker-btn {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}